@font-face {
	font-family: quicksand;
	src: url("Fonts/quicksand/Quicksand-Regular.otf");
}

.font{font-family: quicksand, arial;}

.header{
	width: 100%;
	height: 2em;
	background-color: #DDE8F0;
	text-align: center;
	font-size: 3em;
}

.logo {
	display: inline-block;
	margin: .3em;
	width: 1em;
	height: 1em;
	float: right;
}


.margin_1em {
	margin: 1em;
}

.center_div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center {
		display: table-cell;
	vertical-align: middle;
	border: 1px solid #DDE8F0;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.links {
	width: 85%;
	height: 100%;
}

.link {
	display:inline-block;
	margin: 1em;
}

li a:link {
	text-decoration: none;
	color: #DDE8F0;

}
li a:visited {
	color: red;

}
li a:hover {
	color: lime;

}

.box {
	height: 5em;
	width: 7em;
	background-color: black;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #DDE8F0;
}