#header{padding-top: 2em;
	padding-bottom: 2em;
	background-color: #DDE8F0;
	margin-bottom: 5em;
	text-align: center;}

	.header1{font-size: 2em;}

#page_name{font-size: 5em}

#body{width: 70%;
	height:100%;
	background-color: #DDE8F0;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	padding-left: 3em;
	padding-right: 3em;}

.padding{padding-top: 1em;
	padding-bottom: 1em;}

.link:link{text-decoration: none;
	color: black;}
.link:visited{color:red;}
.link:hover{color:lime;}
.link{font-size: 2em}

#footer{padding-top: 2em;
	padding-bottom: 2em;
	border-top: 4px solid rgb(27, 50, 143);background-color: #DDE8F0;
	margin-top: 5em;
	text-align: center;}
p {font-family: arial;}