*{text-align: center;}
img{border: 1px solid black;}
body{background-color: #acd9fc; border: 3px solid black;}
p {font-family: Verdana, Times;}
#id1{color: red; text-decoration: underline;}
.class1{font-size:10px;}